{% extends 'base.html' %}
{% block content %}

<div class="container w-75">
    <h2>Applicants for offer</h2>

    <ul class="list-group mt-4">
        <li class="list-group-item bg-primary text-light fw-bold">
            <div class="row text-center">
                <div class="col">Name</div>
                <div class="col">Country</div>
                <div class="col">University</div>
                <div class="col">Major</div>
                <div class="col">Credits</div>
                <div class="col">Status</div>
                <div class="col">Action</div>
            </div>
        </li>

        {% for student in students %}
        {% set status = student.status.value %}
        <!-- 
            * Status types:
            * status == 0 - status is 'waiting'
            * status == 1 - status is 'accepted'
            * status == 2 - status is 'rejected'
         -->
        {% if status == 0 %}
            {% set list_item_color = 'warning' %}
            {% set status_text = 'Waiting' %}
        {% elif status == 1 %}
            {% set list_item_color = 'success' %}
            {% set status_text = 'Accepted' %}
        {% elif status == 2 %}
            {% set list_item_color = 'danger' %}
            {% set status_text = 'Rejected' %}
        {% endif %}
        
        <li class="list-group-item list-group-item-action list-group-item-{{list_item_color}}">
            <div class="row text-center align-items-center">
                <div class="col">{{student.name}}</div>
                <div class="col">TODO: Country</div>
                <div class="col">{{student.university}}</div>
                <div class="col">{{student.major}}</div>
                <div class="col">{{student.credits}}</div>
                <div class="col">{{status_text}}</div>
                <div class="col">
                    <button class="student-btn btn btn-success btn-sm w-75 rounded-pill py-2" id="studentBtn_{{student.id}}">
                        View
                    </button>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
    <button class="btn btn-secondary mt-2" id="backBtn">
        <i class="bi bi-arrow-left"></i> Back to offer
    </button>

    <script>
        document.getElementById("backBtn").addEventListener("click", async () => {
            const offerId = sessionStorage.getItem("offerId")
            await access(`/offers/${offerId}`, "GET")
        })

        document.querySelectorAll(".student-btn").forEach(button => {            
            button.addEventListener("click", async () => {
                const studentId = button.id.split("_")[1]
                await access(`/students/profile/${studentId}`, "GET")
            })
        })
    </script>
</div>

{% endblock %}