{% extends 'base.html' %}
{% block content %}

<div class="container w-75">
    <h2>My applications</h2>

    <ul class="list-group">
        <li class="list-group-item bg-primary text-light fw-bold">
            <div class="container text-center">
                <div class="row py-2">
                    <div class="col">Location</div>
                    <div class="col">Field</div>
                    <div class="col">Salary</div>
                    <div class="col">Number of weeks</div>
                    <div class="col">Status</div>
                    <div class="col">Action</div>
                    <div class="col">Offer</div>
                </div>
            </div>
        </li>
        {% for application in applications %}
        {% set status = application.status.value %}
        
        {% if status == 'WAITING' %}
            {% set list_item_color = "warning" %}
            {% set button_styles = "btn btn-danger cancel-btn" %}
            {% set button_id = "cancel-btn-" ~ application.student_id ~ "-" ~ application.offer_id %}
            {% set button_text = "Cancel" %}
        
        {% elif status == 'ACCEPTED' %}
            {% set list_item_color = "success" %}
            {% set button_styles = "btn btn-danger cancel-btn" %}
            {% set button_id = "cancel-btn-" ~ application.student_id ~ "-" ~ application.offer_id %}
            {% set button_text = "Cancel" %}

        {% elif status == 'REJECTED' %}
            {% set list_item_color = "danger" %}
            {% set button_styles = "btn btn-secondary" %}
            {% set button_id = "none-btn-" ~ application.student_id ~ "-" ~ application.offer_id %}
            {% set button_text = "None" %}

        {% elif status == 'ONGOING' %}
            {% set list_item_color = "success" %}
            {% set button_styles = "btn btn-secondary" %}
            {% set button_id = "none-btn-" ~ application.student_id ~ "-" ~ application.offer_id %}
            {% set button_text = "None" %}

        <!-- i.e Status is COMPLETED -->
        {% else %}
            {% set list_item_color = "success" %}
            {% set button_styles = "btn btn-primary dropdown-toggle" %}
            {% set button_id = "report-dropdown-" ~ application.student_id ~ "-" ~ application.offer_id %}
            {% set button_text = "Reports" %}
        {% endif %}

        <li class="list-group-item list-group-item-action list-group-item-{{list_item_color}}">
            <div class="container text-center">
                <div class="row py-2 align-items-center">
                    <div class="col">Location</div>
                    <div class="col">{{application.field}}</div>
                    <div class="col">{{application.salary}}</div>
                    <div class="col">{{application.num_weeks}}</div>
                    <div class="col">{{status | capitalize}}</div>
                    <div class="col">
                        {% if status == 'COMPLETED' %}
                            <div class="dropdown">
                                <button class="{{button_styles}}" type="button" id="{{button_id}}" data-bs-toggle="dropdown">
                                    {{button_text}}
                                </button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <button class="dropdown-item student-report-btn" 
                                            data-student-id="{{ application.student_id }}" 
                                            data-offer-id="{{ application.offer_id }}">
                                            Student Report
                                        </button>
                                    </li>
                                    <li>
                                        <button class="dropdown-item company-report-btn" 
                                            data-student-id="{{ application.student_id }}" 
                                            data-offer-id="{{ application.offer_id }}">
                                            Company Report
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        {% else %}
                            <button class="{{button_styles}}" id="{{button_id}}">
                                {{button_text}}
                            </button>
                        {% endif %}
                    </div>
                    <div class="col">
                        <button class="btn btn-primary offer-btn" id="offer-{{application.offer_id}}-btn">
                            View offer
                        </button>
                    </div>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>

    <button class="btn btn-secondary mt-2" id="home-btn">
        <i class="bi bi-arrow-left"></i> Home
    </button>
</div>

<script>
    document.getElementById('home-btn')
        .addEventListener('click', async () => {
            await access('/students-home', 'GET')
        })

    document.querySelectorAll('.cancel-btn').forEach(async button => {
        button.addEventListener('click', async () => {
            const buttonIdParts = button.id.split('-')
            const student_id = buttonIdParts[2]
            const offer_id = buttonIdParts[3]
            await access(`/applications/cancel/${student_id}/${offer_id}`, 'DELETE')
            await access(`/applications/view/${student_id}`, 'GET')
        })
    })

    document.querySelectorAll(".offer-btn").forEach(async button => {
        button.addEventListener("click", async () => {
            const buttonIdParts = button.id.split("-")
            const offerId = buttonIdParts[1]
            sessionStorage.setItem("offerId", offerId)
            await access(`/offers/${offerId}`, "GET")
        })
    })

    document.querySelectorAll(".company-report-btn").forEach(async button => {
        button.addEventListener("click", async () => {
            const offerId = button.dataset.offerId
            const studentId = button.dataset.studentId
            sessionStorage.setItem("studentId", studentId)
            sessionStorage.setItem("offerId", offerId)
            await access(`/company-reports/${studentId}/${offerId}`, "GET")
        })
    })

    document.querySelectorAll(".student-report-btn").forEach(async button => {
        button.addEventListener("click", async () => {
            const offerId = button.dataset.offerId
            const studentId = button.dataset.studentId
            sessionStorage.setItem("studentId", studentId)
            sessionStorage.setItem("offerId", offerId)
            await access(`/student-reports/${studentId}/${offerId}`, "GET")
        })
    })
</script>

{% endblock %}