{% extends 'base.html' %}
{% block content %}

<!-- TODO: Add color-coding based on application status-types -->

<div class="container w-75">
    <h2>My applications</h2>

    <ul class="list-group">
        <li class="list-group-item bg-primary text-light fw-bold">
            <div class="container text-center">
                <div class="row py-2">
                    <div class="col">Student ID</div>
                    <div class="col">Offer ID</div>
                    <!-- TODO - country functionality -->
                    <!-- TODO - display brief offer info (company, field, etc.) -->
                    <div class="col">Status</div>
                    <div class="col">Action</div>
                </div>
            </div>
        </li>
        {% for application in applications %}
        <li class="list-group-item list-group-item-action">
            <div class="container text-center">
                <div class="row py-2 align-items-center">
                    <div class="col">{{application.student_id}}</div>
                    <div class="col">{{application.offer_id}}</div>
                    <div class="col">{{application.status}}</div>
                    <div class="col">
                        {% set status = application.status.value %}

                        <!-- * If status is 'waiiting' or 'accepted' -->
                        {% if status == 0 or status == 1 %}
                        <button class="btn btn-danger"
                            id="cancel-btn-{{application.student_id}}-{{application.offer_id}}">
                            Cancel
                        </button>

                        <!-- * If status is 'rejected' -->
                        {% elif status == 2 %}
                        <button class="btn btn-secondary">None</button>
                        {% endif %}
                    </div>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>

    <!-- <a href="/offers" class="btn btn-secondary mt-2"><i class="bi bi-arrow-left"></i> Offers</a> -->
    <button class="btn btn-secondary mt-2" id="home-btn">
        <i class="bi bi-arrow-left"></i> Home
    </button>
</div>

<script>
    document.getElementById('home-btn')
        .addEventListener('click', async () => {
            await access('/students-home', 'GET')
        })

    document.querySelectorAll('.btn-danger').forEach(button => {
        button.addEventListener('click', async () => {
            const buttonIdParts = button.id.split('-')
            console.log(buttonIdParts)
            /* ID format: cancel-btn-[student_id]-[offer_id] */
            const student_id = buttonIdParts[2]
            const offer_id = buttonIdParts[3]
            await access(`/applications/cancel/${student_id}/${offer_id}`, 'DELETE')
            await access(`/applications/view/${student_id}`, 'GET')
        })
    })
</script>

{% endblock %}