{% extends 'base.html' %}
{% block content %}

<div class="container w-75">
    <div class="card w-100 shadow">
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <h1>{{ company.name }}</h1>
                    <!-- TODO: implement country -->
                    <h3 class="mb-4 text-body-secondary">Sweden</h3>
                </div>
                <div class="col d-flex align-items-center justify-content-end me-3">
                    <img src="{{ url_for('static', path='img/volvo-logo.png') }}" alt="Some image" height="120rem">
                </div>
            </div>

            <hr>

            <div class="row text-center column-gap-5 m-3 fs-5">
                <div class="col bg-primary-subtle text-dark shadow rounded-pill p-2">
                    <strong>Field:</strong><br>{{ company.field }}
                </div>
                <div class="col bg-primary-subtle text-dark shadow rounded-pill p-2">
                    <strong>Number of employees:</strong><br>{{ company.num_employees }}
                </div>
                <div class="col bg-primary-subtle text-dark shadow rounded-pill p-2">
                    <strong>Founding year:</strong><br>{{ company.year_founded }}
                </div>
            </div>

            <hr>

            <h5 class="my-4">Description</h5>
            <!-- TODO: Add description-field to database and everywhere else. -->
            <p>
                TODO - IMPLEMENT DESCRIPTION
            </p>

            <h5 class="mt-4">Website</h5>

            <a href="https://www.wikipedia.org/">{{ company.website }}</a>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <!-- TODO: make this work -->
            <button class="btn btn-secondary mt-2" id="offer-btn">
                <i class="bi bi-arrow-left"></i> Back to offer
            </button>
        </div>
    </div>
</div>

<script>
    document.getElementById('offer-btn')
        .addEventListener('click', async () => {
            let offerId = sessionStorage.getItem('offerId')
            await access(`/offers/${offerId}`, 'GET')
        })
</script>

{% endblock %}