{% extends 'base.html' %}
{% block content %}

<div class="row">
    <div class="col">
        <div class="card shadow">
            <div class="row ">
                <div class="col-1 bg-primary rounded-start"></div>
                <div class="col-11 card-body">
                    <h5 class="card-title">My Offers</h5>
                    <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minima nisi,
                        architecto ipsum fugit alias libero voluptatum molestiae ipsam itaque cupiditate.</p>
                    <button class="btn btn-primary" id="offers-btn">View</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card shadow">
            <div class="row ">
                <div class="col-1 bg-primary rounded-start"></div>
                <div class="col-11 card-body">
                    <h5 class="card-title">My profile</h5>
                    <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minima nisi,
                        architecto ipsum fugit alias libero voluptatum molestiae ipsam itaque cupiditate.</p>
                    <button class="btn btn-primary" id="profile-btn">View</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row bg-light rounded mt-5 shadow">
    <div class="col-8 ps-4">
        <p class="fs-3 pt-5 "><em>Welcome company!</em></p>
        <p class="fs-3 py-2 "><em>Welcome to АПЛИПРАКСА.</em></p>
        <p class="fs-3 pb-5 "><em>Here you can share offers and receive applicants from the whole globe!</em></p>
    </div>
    <div class="col-4 text-center text-primary"><i class="bi bi-globe-americas" style="font-size: 10rem;"></i></div>
</div>

<script>
    document.getElementById('offers-btn').addEventListener('click', async () => {
        await access('/companies/{{current_user.id}}/offers', 'GET')
    })
    document.getElementById("profile-btn").addEventListener("click", async () => {
        await access("/companies/{{current_user.id}}", "GET")
    })
</script>

{% endblock %}