{% extends 'base.html' %}
{% block content %}

<div class="container w-75">
    <div class="card w-100 shadow">
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <h1>{{ company.name }}</h1>
                    <h3 class="mb-4 text-body-secondary">Location</h3>
                    <h5>{{ company.email }}</h5>
                </div>
                <div class="col d-flex align-items-center justify-content-end me-3">
                    {% if company.profile_picture_path %}
                    {% set path = company.profile_picture_path | replace("static/", "") %}
                    
                    {% else %}
                    {% set path = "img/no_image.png" %}
                    
                    {% endif %}
                    {% set url_path = url_for("static", path=path) %}
                    
                    <img src="{{ url_path }}" alt="Profile Picture" height="180rem">
                </div>
            </div>

            <hr>

            <div class="row text-center column-gap-5 m-3 fs-5">
                <div class="col bg-primary text-white shadow rounded-pill p-2">
                    <strong>Field:</strong><br>{{ company.field }}
                </div>
                <div class="col bg-primary text-white shadow rounded-pill p-2">
                    <strong>Number of employees:</strong><br>{{ company.num_employees }}
                </div>
                <div class="col bg-primary text-white shadow rounded-pill p-2">
                    <strong>Founding year:</strong><br>{{ company.year_founded }}
                </div>
            </div>

            <hr>

            <h5 class="my-4">Description</h5>
            <p>
                In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a document or a typeface without relying on meaningful content. Lorem ipsum may be used as a placeholder before final copy is available. It is also used to temporarily replace text in a process called greeking, which allows designers to consider the form of a webpage or publication, without the meaning of the text influencing the design.
            </p>

            <h5 class="mt-4">Website</h5>

            <a href="https://www.wikipedia.org/">{{ company.website }}</a>

            <hr class="mt-4">
            <h5 class="my-4 fs-4">PAST REPORTS</h5>
            {% for report in company.reports %}
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Student</th>
                        <th>Field</th>
                        <th>Duration (weeks)</th>
                        <th>Mentorship Grade</th>
                        <th>Work Environment Grade</th>
                        <th>Benefits Grade</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{report.student_name}}</td>
                        <td>{{report.field}}</td>
                        <td>{{report.num_weeks}}</td>
                        <td>{{report.mentorship_grade}}</td>
                        <td>{{report.work_environment_grade}}</td>
                        <td>{{report.benefits_grade}}</td>
                    </tr>
                </tbody>
            </table>
            <div>{{report.comment}}</div>

            <hr class="mt-4">
            {% endfor %}
        </div>
    </div>

    {% if current_user.university %}
    <button class="btn btn-secondary mt-2" id="offer-btn">
        <i class="bi bi-arrow-left"></i> Back to offer
    </button>

    <script>
        document.getElementById('offer-btn')
            .addEventListener('click', async () => {
                let offerId = sessionStorage.getItem('offerId')
                await access(`/offers/${offerId}`, 'GET')
            })
    </script>
    
    {% elif current_user.num_employees %}
    <div class="d-flex justify-content-between mt-2">
        <button class="btn btn-secondary" id="homeBtn">
            <i class="bi bi-arrow-left"></i> Home
        </button>

        <button class="btn btn-success" id="editBtn">
            <i class="bi bi-pencil-square"></i> Edit
        </button>
    </div>

    <script>
        document.getElementById("homeBtn").addEventListener("click", async () => {
            await access("/companies-home", "GET")
        })

        document.getElementById("editBtn").addEventListener("click", async () => {
            await access("/companies/{{current_user.id}}/edit", "GET")
        })
    </script>
    {% endif %}
</div>

{% endblock %}