{% extends 'base.html' %}
{% block content %}

<h3>Edit your profile</h3>

<div class="row mt-4">
    <div class="col-5">
        <p class="fs-5">General information</p>
        <form action="/" class="bg-primary-subtle px-4 pt-3 pb-5 rounded border border-light border-4">
            <label for="" class="form-label">Name</label>
            <input type="text" class="form-control shadow" value="{{company.name}}" id="nameInput">

            <label for="" class="form-label mt-3">Location</label>
            <input type="text" class="form-control shadow" value="NOT IMPLEMENTED" id="locationInput">

            <label for="" class="form-label mt-3">Field</label>
            <input type="text" class="form-control shadow" value="{{company.field}}" id="fieldInput">

            <label for="" class="form-label mt-3">Email</label>
            <input type="text" class="form-control shadow" value="{{company.email}}" id="emailInput">

            <label for="" class="form-label mt-3">Number of employees</label>
            <input type="text" class="form-control shadow" value="{{company.num_employees}}" id="numEmployeesInput">

            <label for="" class="form-label mt-3">Year founded</label>
            <input type="text" class="form-control shadow" value="{{company.year_founded}}" id="yearFoundedInput">

            <label for="" class="form-label mt-3">Website</label>
            <input type="text" class="form-control shadow" value="{{company.website}}" id="websiteInput">

        </form>
    </div>
    <div class="col-5">
        <p class="fs-5">Description</p>

        <ul class="list-group">
            <li class="list-group-item bg-primary-subtle">Your company's description [NOT IMPLEMENTED]</li>
            <li class="list-group-item">
                <textarea class="form-control shadow my-3"
                    style="height: 30rem;">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Impedit, alias nam pariatur quisquam assumenda esse cumque inventore tempore ratione iste, blanditiis nemo labore dolor recusandae aperiam doloribus ipsum quis neque? Beatae, placeat. Dignissimos blanditiis illo voluptatibus quisquam alias odio dolores laboriosam eligendi impedit repudiandae at, quaerat maiores iusto nam, quia, qui modi non. Sapiente, dignissimos! Doloribus repellendus officiis amet soluta quas neque, sed temporibus provident quo eius. Sit, veniam eligendi numquam obcaecati harum voluptatem velit quo inventore illo maxime, possimus quas ea placeat aliquid quos ad asperiores quibusdam delectus tempore architecto. Id, maiores modi ipsam ducimus hic molestiae alias architecto?</textarea>
            </li>
        </ul>
    </div>
    <div class="col-2">
        <p class="fs-5">Edit profile photo</p>
        <img src="{{ url_for('static', path='img/no_image.PNG') }}" alt="Some image"
            class="img-fluid shadow rounded mb-2">
        <input type="file" class="form-control shadow">
    </div>
</div>

<div class="mt-2">
    <button class="btn btn-secondary" id="cancelBtn">
        <i class="bi bi-x-circle"></i> Cancel
    </button>
    <button class="btn btn-success" id="confirmBtn">
        <i class="bi bi-check-circle-fill"></i> Confirm
    </button>
</div>

<script>
    document.getElementById("cancelBtn").addEventListener("click", async () => {
        await access("/companies/{{company.id}}", "GET")
    })

    document.getElementById("confirmBtn").addEventListener("click", async () => {
        const updatedCompany = {
            name: document.getElementById("nameInput").value,
            field: document.getElementById("fieldInput").value,
            email: document.getElementById("emailInput").value,
            num_employees: document.getElementById("numEmployeesInput").value,
            year_founded: document.getElementById("yearFoundedInput").value,
            website: document.getElementById("websiteInput").value,
        }
        await access("/companies/{{company.id}}", "PUT", updatedCompany)
        await access("/companies/{{company.id}}", "GET")
    })
</script>

{% endblock %}