{% extends 'base.html' %}

{% block script %}
<script async src="{{ url_for('static', path='js/logIn.js') }}"></script>
<script async src="{{ url_for('static', path='js/access.js') }}"></script>
{% endblock%}

{% block content %}

<div class="container">
  <div class="row align-items-center gx-5">
    <div class="col-6">
      <form class="my-5" id="login-form">
        <div class="mb-3">
          <label for="user-type" class="form-label">User Type</label>
          <select class="form-select" id="user-type">
            <option value="student">Student</option>
            <option value="company">Company</option>
          </select>
        </div>

        <div class="mb-3">
          <label for="email" class="form-label">Email address</label>
          <input type="email" class="form-control shadow" id="email" placeholder="e.g. john.doe@mail.com">
        </div>

        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control shadow" id="password" placeholder="*************">
        </div>

        <button type="submit" class="btn btn-lg btn-primary mt-3">Submit</button>
      </form>
    </div>

    <div class="col-6 fs-3 text-center">
      <div class="card py-4 shadow">
        <div class="card-body">
          <h5 class="card-title">Welcome back!</h5>
          <h6 class="card-subtitle mb-3 text-body-secondary">Clarification</h6>
          <p class="card-text fst-italic">Please fill out your email and password to continue.</p>
        </div>
      </div>

    </div>
  </div>
</div>

<script async>
  document.getElementById('login-form').addEventListener('submit', async function (event) {
    event.preventDefault();
    
    const userType = document.getElementById('user-type').value;
    const url = `/token?user_type_param=${userType}`;
    const username = document.getElementById('email').value;
    const password = document.getElementById('password').value;
    
    // console.log(url, username, password);
    
    let loginSuccessful = await login(url, username, password);

    if (userType == 'student' && loginSuccessful == true) {
      await access('/students-home', 'GET');
    }
    else if (userType == 'company' && loginSuccessful == true) {
      await access('/companies-home', 'GET');
    }
    else {
      let form = document.getElementById('login-form');
      let element = document.createElement('p');
      element.innerHTML = 'Login was unsuccessful...';
      element.classList.add('mt-2', 'text-danger');
      form.appendChild(element);
    }
  })
</script>

{% endblock %}