{% extends 'base.html' %}

{% block content %}

<h3 class="mb-4">Offer information</h3>

<div class="bg-light rounded p-3 mb-2">
    <div class="fs-5 mb-3">Select your offer type:</div>

    <div class="row">
        <div class="col">
            <div class="card w-100">
                <div class="card-body">
                    <input class="form-check-input mb-2" type="radio" name="flexRadioDefault"  id="globalOfferOption" checked>
                    <h5 class="card-title">Global Offer</h5>
                    <p class="card-text">Global offers are visible to all students from all regions. Copies of the offer are stored also in every region for increased fault tolerance and reduced latency.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card  w-100">
                <div class="card-body">
                    <input class="form-check-input mb-2" type="radio" name="flexRadioDefault" id="regionalOfferOption">
                    <h5 class="card-title">Regional Offer</h5>
                    <p class="card-text">Regional offers are only visible to students from the same region as the offer. Copies are stored in only one region.</p>
                </div>
            </div>
        </div>
    </div>
</div>


<form>
    <div class="row">
        <div class="col">
            <div class="mb-3">
                <label class="form-label">Field</label>
                <input type="text" class="form-control" id="fieldInput">
            </div>

            <div class="mb-3">
                <label class="form-label">Salary</label>
                <input type="number" class="form-control" id="salaryInput">
            </div>

            <div class="mb-3">
                <label class="form-label">Number of weeks</label>
                <input type="number" class="form-control" id="numWeeksInput">
            </div>

            <div class="mb-3">
                <label class="form-label">Deadline</label>
                <input type="date" class="form-control" id="deadlineInput">
            </div>
        </div>
        <div class="mb-3 col">
            <label class="form-label">Requirements</label>
            <textarea id="requirementsInput" rows="11" class="form-control"></textarea>
        </div>
        <div class="mb-3 col">
            <label class="form-label">Responsibilities</label>
            <textarea id="responsibilitiesInput" rows="11" class="form-control"></textarea>
        </div>
    </div>

    <button class="btn btn-secondary" id="backBtn">Back</button>

    <button class="btn btn-primary" id="submitBtn">Submit</button>
</form>

<script>
    document.getElementById("backBtn").addEventListener("click", async (event) => {
        event.preventDefault()
        const companyId = sessionStorage.getItem("companyId")
        await access(`/companies/${companyId}/offers`, "GET")
    })

    document.getElementById("submitBtn").addEventListener("click", async (event) => {
        event.preventDefault()

        const field = document.getElementById("fieldInput").value
        const salary = document.getElementById("salaryInput").value
        const numWeeks = document.getElementById("numWeeksInput").value
        const deadline = document.getElementById("deadlineInput").value
        const requirements = document.getElementById("requirementsInput").value
        const responsibilities = document.getElementById("responsibilitiesInput").value
        const companyId = sessionStorage.getItem("companyId")

        newOffer = {
            field: field,
            salary: salary,
            num_weeks: numWeeks,
            deadline: deadline,
            requirements: requirements,
            responsibilities: responsibilities,
            company_id: companyId,
        }

        await access("/offers", "POST", newOffer)
        await access(`/companies/${companyId}/offers`, "GET")
    })
</script>

<!-- 
    field: str
    salary: int
    num_weeks: int
    deadline: date
    requirements: str
    responsibilities: str
    company_id: int
-->

{% endblock %}