{% extends 'base.html' %}
{% block content %}

<h3>Edit your offer</h3>

<div class="row mt-4">
    <div class="col">
        <p class="fs-5 ">General information</p>

        <form action="/" class="bg-primary-subtle px-4 pt-3 rounded border border-4 border-light"
            style="padding-bottom: 3.4rem;">
            <label class="form-label">Location</label>
            <input type="text" class="form-control shadow" id="locationInput" value="NOT IMPLEMENTED">
            
            <label class="form-label mt-4">Field</label>
            <input type="text" class="form-control shadow" id="fieldInput" value="{{offer.field}}">

            <label class="form-label mt-4">Salary</label>
            <input type="text" class="form-control shadow" id="salaryInput" value="{{offer.salary}}">

            <label class="form-label mt-4">Number of weeks</label>
            <input type="text" class="form-control shadow" id="numWeeksInput" value="{{offer.num_weeks}}">

            <label class="form-label mt-4">Deadline</label>
            <input type="text" class="form-control shadow" id="deadlineInput" value="{{offer.deadline}}">
        </form>

        <div class="mt-2">
            <button class="btn btn-secondary" id="cancelBtn">
                <i class="bi bi-x-circle"></i> Cancel
            </button>
            <button class="btn btn-success" id="confirmBtn">
                <i class="bi bi-check-circle-fill"></i> Confirm
            </button>
        </div>
    </div>
    <div class="col">
        <p class="fs-5">Requirements</p>

        <ul class="list-group">
            <li class="list-group-item bg-primary-subtle">Your requirements include</li>
            <li class="list-group-item">
                <textarea class="form-control shadow my-3" style="height: 27rem;" id="requirementsInput">{{offer.requirements}}</textarea>
            </li>
        </ul>
    </div>
    <div class="col">
        <p class="fs-5">Responsibilities</p>

        <ul class="list-group">
            <li class="list-group-item bg-primary-subtle">Your responsibilities will be</li>
            <li class="list-group-item">
                <textarea class="form-control shadow my-3" style="height: 27rem;" id="responsibilitiesInput">{{offer.responsibilities}}</textarea>
            </li>
        </ul>
    </div>
</div>

<script>
    document.getElementById("cancelBtn").addEventListener("click", async () => {
        await access("/offers/{{offer.id}}", "GET")
    })

    document.getElementById("confirmBtn").addEventListener("click", async () => {
        const updatedOffer = {
            field: document.getElementById("fieldInput").value,
            salary: document.getElementById("salaryInput").value,
            num_weeks: document.getElementById("numWeeksInput").value,
            deadline: document.getElementById("deadlineInput").value,
            requirements: document.getElementById("requirementsInput").value,
            responsibilities: document.getElementById("responsibilitiesInput").value,
        }
        await access("/offers/{{offer.id}}", "PUT", updatedOffer)
        await access("/offers/{{offer.id}}", "GET")
    })
</script>

{% endblock %}