{% extends 'base.html' %}

{% block content %}

<div class="container w-75">
  <div class="card w-100 shadow">
    <div class="card-body">
      <div class="ms-2 mt-3">
        <h5 class="card-title">{{ offer.field }}</h5>
        <!-- TODO: Add countries to offers and to whole app in general -->
        <h6 class="card-subtitle mb-4 text-body-secondary">Brazil, Rio de Janeiro</h6>
      </div>

      <div class="container text-center my-5">
        <div class="row column-gap-5 fs-5">
          <div class="col bg-primary-subtle rounded-pill p-2 shadow border border-primary border-3">
            <strong>Salary:</strong> <br> {{ offer.salary }}
          </div>
          <div class="col bg-primary-subtle rounded-pill p-2 shadow border border-primary border-3">
            <strong>Length:</strong> <br> {{ offer.num_weeks }}
          </div>
          <div class="col bg-primary-subtle rounded-pill p-2 shadow border border-primary border-3">
            <strong>Deadline:</strong> <br> {{ offer.deadline }}
          </div>
        </div>
      </div>

      <p class="lead mt-4">Requirements</p>
      <p>{{ offer.requirements }}</p>

      <p class="lead mt-4">Responsibilities</p>
      <p>{{ offer.responsibilities }}</p>

      <!-- TODO: Connect offer-views to company-owners -->
      <p class="lead mb-1 mt-4">Offer provided by:</p>
      <span>Fire Engine Inc.</span>
    </div>
  </div>

  <div class="d-flex mt-2 justify-content-between">

    {% if current_user.num_employees %}

    <div>
      <button class="btn btn-secondary" id="myOffersBtn">
        <i class="bi bi-arrow-left"></i> My Offers
      </button>
    </div>

    <div>
      <button class="btn btn-primary" id="applicantsBtn">Applicants</button>
      <button class="btn btn-primary" id="editOfferBtn">Edit offer</button>
    </div>

    <script>
      document.getElementById("myOffersBtn").addEventListener("click", async () => {
        await access("/companies/{{current_user.id}}/offers", "GET")
      })

      document.getElementById("applicantsBtn").addEventListener("click", async () => {
        await access("/applications/applicants/{{offer.id}}", "GET")
      })

      document.getElementById("editOfferBtn").addEventListener("click", async () => {
        const offer = {
          salary: "{{offer.salary}}",
          num_weeks: "{{offer.num_weeks}}",
          field: "{{offer.field}}",
          deadline: "{{offer.deadline}}",
          requirements: "{{offer.requirements}}",
          responsibilities: "{{offer.responsibilities}}",
          company_id: "{{offer.company_id}}",
        }
        offerJSONString = JSON.stringify(offer)
        sessionStorage.setItem("offer", offerJSONString)
        
        await access("/offers/{{offer.id}}/edit", "GET")
      })
    </script>

    {% elif current_user.university %}
    <div>
      <button class="btn btn-secondary" id="offersBtn">
        <i class="bi bi-arrow-left"></i> Offers
      </button>
    </div>

    <div>
      <button class="btn btn-primary" id="viewCompanyBtn">View Company</button>

      <!-- Button trigger for modal -->
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#applyModal">
        Apply
      </button>

      <!-- Modal -->
      <div class="modal fade" id="applyModal" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5">Are you sure?</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
              This offer will be added to your list of applications.
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" id="applyBtn">Save changes</button>
            </div>
          </div>
        </div>
      </div>

    <script>
      document.getElementById("offersBtn").addEventListener("click", async () => {
        await access("/offers", "GET")
      })

      document.getElementById("viewCompanyBtn").addEventListener("click", async () => {
        await access("/companies/{{offer.company_id}}", "GET")
      })

      document.getElementById("applyBtn").addEventListener("click", async () => {
        await access("/applications/apply/{{current_user.id}}/{{offer.id}}", "POST");
        await access("/applications/view/{{current_user.id}}", "GET");
      })
    </script>

    {% endif %}

  </div>
</div>
</div>

{% endblock %}