{% extends 'base.html' %}

{% block content %}

<h3 class="mb-4">Offer information</h3>

<form>
    <div class="row">
        <div class="col">
            <div class="mb-3">
                <label class="form-label">Field</label>
                <input type="text" class="form-control" id="fieldInput">
            </div>

            <div class="mb-3">
                <label class="form-label">Salary</label>
                <input type="number" class="form-control" id="salaryInput">
            </div>

            <div class="mb-3">
                <label class="form-label">Number of weeks</label>
                <input type="number" class="form-control" id="numWeeksInput">
            </div>

            <div class="mb-3">
                <label class="form-label">Deadline</label>
                <input type="date" class="form-control" id="deadlineInput">
            </div>
        </div>
        <div class="mb-3 col">
            <label class="form-label">Requirements</label>
            <textarea id="requirementsInput" rows="11" class="form-control"></textarea>
        </div>
        <div class="mb-3 col">
            <label class="form-label">Responsibilities</label>
            <textarea id="responsibilitiesInput" rows="11" class="form-control"></textarea>
        </div>
    </div>

    <button class="btn btn-secondary" id="backBtn">Back</button>

    <button class="btn btn-primary" id="submitBtn">Submit</button>
</form>

<script>
    // <!-- TODO: fix problem with back-button (sometimes works, sometimes doesn't) -->
    console.log("session storage: ", sessionStorage.getItem("companyId"))

    document.getElementById("backBtn").addEventListener("click", async () => {
        const companyId = sessionStorage.getItem("companyId")
        console.log(companyId)
        await access(`/companies/${companyId}/offers`, "GET")
        console.log('this is a test', companyId)
    })

    document.getElementById("submitBtn").addEventListener("click", async () => {
        const field = document.getElementById("fieldInput").value
        const salary = document.getElementById("salaryInput").value
        const numWeeks = document.getElementById("numWeeksInput").value
        const deadline = document.getElementById("deadlineInput").value
        const requirements = document.getElementById("requirementsInput").value
        const responsibilities = document.getElementById("responsibilitiesInput").value
        const companyId = sessionStorage.getItem("companyId")

        console.log(
            field,
            salary,
            numWeeks,
            deadline,
            requirements,
            responsibilities,
            companyId,
        )
    })
</script>

<!-- 
    field: str
    salary: int
    num_weeks: int
    deadline: date
    requirements: str
    responsibilities: str
    company_id: int
-->

{% endblock %}