{% extends 'base.html' %}

{% block script %}
<script src="{{ url_for('static', path='js/access.js') }}"></script>
{% endblock%}

{% block content %}


<ul class="list-group">
  <li class="list-group-item bg-primary text-light fw-bold">
    <div class="container text-center">
      <div class="row py-2">
        <div class="col">Country</div>
        <div class="col">Salary</div>
        <div class="col">Length</div>
        <div class="col">Field</div>
        <div class="col">Deadline</div>
        <div class="col">Company</div>
        <!-- <div class="col">Min. year</div> -->
        <div class="col">Action</div>
      </div>
    </div>
  </li>
  {% for offer in offers %}
  <li class="list-group-item list-group-item-action">
    <div class="container text-center">
      <div class="row py-2 align-items-center">
        <div class="col">Thailand</div>
        <div class="col">{{offer.salary}}</div>
        <div class="col">{{offer.num_weeks}}</div>
        <div class="col">{{offer.field}}</div>
        <div class="col">{{offer.deadline}}</div>
        <div class="col">Elephant Inc.</div>
        <!-- <div class="col">2 year</div> -->
        <div class="col">
          <button class="offer-btn btn btn-success btn-sm w-75 rounded-pill py-2"
            id="offer-{{offer.id}}-btn">View</button>
        </div>
      </div>
    </div>
  </li>
  {% endfor %}
</ul>

<div class="d-flex justify-content-between">

  <button class="btn btn-secondary my-3" id="home-btn">
    <i class="bi bi-arrow-left"></i> Home
  </button>

  {% if current_user.university %}
  <script async>
    document.getElementById('home-btn')
      .addEventListener('click', async () => {
        await access('/students-home', 'GET')
      })
  </script>
  {% elif current_user.num_employees %}
  <script async>
    document.getElementById('home-btn')
      .addEventListener('click', async () => {
        await access('/companies-home', 'GET')
      })
  </script>
  {% endif %}

  <ul class="pagination mt-3 justify-content-end">
    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
    <li class="page-item"><a class="page-link" href="#">Next</a></li>
  </ul>
</div>

<script>
  document.querySelectorAll('.offer-btn').forEach(button => {
    button.addEventListener('click', async () => {
      const buttonIdParts = button.id.split('-');
      const offerId = buttonIdParts[1];
      await access(`/offers/${offerId}`, 'GET');
    });
  });
</script>

{% endblock %}