{% macro create_my_offers_button() %}
<button class="btn btn-secondary" id="myOffersBtn">
  <i class="bi bi-arrow-left"></i> My Offers
</button>
<script>
  document.getElementById("myOffersBtn").addEventListener("click", async () => {
    await access("/companies/{{current_user.id}}/offers", "GET")
  })
</script>
{% endmacro %}


{% macro create_applicants_button() %}
<button class="btn btn-primary" id="applicantsBtn">Applicants</button>
<script>
  document.getElementById("applicantsBtn").addEventListener("click", async () => {
    await access("/applications/applicants/{{offer.id}}", "GET")
  })
</script>
{% endmacro %}


{% macro create_edit_offer_button() %}
<button class="btn btn-success" id="editOfferBtn">Edit offer</button>
<script>
  document.getElementById("editOfferBtn").addEventListener("click", async () => {
    await access("/offers/{{offer.id}}/edit", "GET")
  })
</script>
{% endmacro %}


{% macro create_delete_offer_modal_button() %}
<button class="btn btn-primary" id="deleteOfferModalBtn">Confirm</button>
<script>
  document.getElementById("deleteOfferModalBtn").addEventListener("click", async () => {
    await access("/offers/{{offer.id}}", "DELETE")
    await access("/companies/{{current_user.id}}/offers", "GET")
  })
</script>
{% endmacro %}


{% macro create_offers_button() %}
<button class="btn btn-secondary" id="offersBtn">
  <i class="bi bi-house-fill"></i> Offers
</button>
<script>
  document.getElementById("offersBtn").addEventListener("click", async () => {
    await access("/offers", "GET")
  })
</script>
{% endmacro %}


{% macro create_applications_button() %}
<button class="btn btn-secondary" id="applicationsBtn">
  <i class="bi bi-window-stack"></i> My applications
</button>
<script>
  document.getElementById("applicationsBtn").addEventListener("click", async () => {
    await access("/applications/view/{{current_user.id}}", "GET")
  })
</script>
{% endmacro %}


{% macro create_view_company_button() %}
<button class="btn btn-primary" id="viewCompanyBtn">View Company</button>
<script>
  document.getElementById("viewCompanyBtn").addEventListener("click", async () => {
    await access("/companies/{{offer.company_id}}", "GET")
  })
</script>
{% endmacro %}


{% macro create_apply_button() %}
<button type="button" class="btn btn-primary" id="applyBtn">Save changes</button>
<script>
  document.getElementById("applyBtn").addEventListener("click", async () => {
    await access("/applications/apply/{{current_user.id}}/{{offer.id}}", "POST");
    await access("/applications/view/{{current_user.id}}", "GET");
  })
</script>
{% endmacro %}


{% extends 'base.html' %}

{% block content %}

<div class="container w-75">
  <div class="card w-100 shadow">
    <div class="card-body">
      <div class="ms-2 mt-3">
        <h5 class="card-title">{{ offer.field }}</h5>
        <h6 class="card-subtitle mb-4 text-body-secondary">Region: {{offer.region}}</h6>
      </div>

      <div class="container text-center my-5">
        <div class="row fs-5 mb-2 column-gap-3">
          <div class="col bg-primary text-white p-2 shadow rounded-3 py-3">
            <strong>Salary</strong> <br> {{ offer.salary }} USD
          </div>
          <div class="col bg-primary text-white p-2 shadow rounded-3 py-3">
            <strong>Length</strong> <br> {{ offer.num_weeks }} Weeks
          </div>
        </div>
        <div class="row fs-5 mt-2 column-gap-3">
          <div class="col bg-primary text-white p-2 shadow rounded-3 py-3">
            <strong>Deadline</strong> <br> {{ offer.deadline }}
          </div>
          <div class="col bg-primary text-white p-2 shadow rounded-3 py-3">
            <strong>Region</strong> <br> {{ offer.region }}
          </div>
        </div>
      </div>

      <p class="lead mt-4">Requirements</p>
      <p>{{ offer.requirements }}</p>

      <p class="lead mt-4">Responsibilities</p>
      <p>{{ offer.responsibilities }}</p>

    </div>
  </div>

  <div class="d-flex mt-2 justify-content-between">

    {% if current_user.num_employees %}

    <div>{{ create_my_offers_button() }}</div>

    <div>
      <!-- Button trigger modal -->
      <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteOfferModal">
        Delete offer
      </button>

      {{ create_applicants_button() }}
      {{ create_edit_offer_button() }}

    </div>

    <!-- Modal -->
    <div class="modal fade" id="deleteOfferModal" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5">Are you sure?</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
          </div>
          <div class="modal-body">
            This offer will be permanently deleted.
          </div>
          <div class="modal-footer">
            <button class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            {{ create_delete_offer_modal_button() }}
          </div>
        </div>
      </div>
    </div>

    {% elif current_user.university %}
    <div>
      {{ create_offers_button() }}
      {{ create_applications_button() }}
    </div>

    <div>
      {{ create_view_company_button() }}

      <!-- Button trigger for modal -->
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#applyModal">
        Apply
      </button>

      <!-- Modal -->
      <div class="modal fade" id="applyModal" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5">Are you sure?</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
              This offer will be added to your list of applications.
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              {{ create_apply_button() }}
            </div>
          </div>
        </div>
      </div>

      {% endif %}

    </div>
  </div>
</div>

{% endblock %}