{% extends 'base.html' %}
{% block content %}

<ul class="list-group w-50 mx-auto shadow-lg" style="margin-top: 15vh;">
    <li class="list-group-item fs-1 mb-0 text-center border border-0 py-4">Register as</li>
    <li class="list-group-item d-flex justify-content-around py-5">
        <a href="/register-student" class="btn btn-primary p-5 fs-3 rounded-4 shadow" style="width: 40%;">Student</a>
        <a href="/register-company" class="btn btn-primary p-5 fs-3 rounded-4 shadow" style="width: 40%;">Company</a>
    </li>
</ul>

{% endblock %}