{% extends 'base.html' %}
{% block content %}

<h3>Edit your profile</h3>

<div class="row mt-4">
    <div class="col-5">
        <p class="fs-5 ">General information</p>

        <form class="bg-primary-subtle px-4 pt-3 rounded border border-4 border-light"
            style="padding-bottom: 3.4rem;">
            <label class="form-label">Name</label>
            <input type="text" id="name" class="form-control shadow" value="{{student_profile.name}}">

            <label class="form-label mt-4">Country</label>
            <input type="text" id="country" class="form-control shadow" value="TODO: COUNTRIES">

            <label class="form-label mt-4">Email</label>
            <input type="text" id="email" class="form-control shadow" value="{{student_profile.email}}">

            <label class="form-label mt-4">University</label>
            <input type="text" id="university" class="form-control shadow" value="{{student_profile.university}}">

            <label class="form-label mt-4">Major</label>
            <input type="text" id="major" class="form-control shadow" value="{{student_profile.major}}">

            <label class="form-label mt-4">Credits</label>
            <input type="text" id="credits" class="form-control shadow" value="{{student_profile.credits}}">

            <label class="form-label mt-4">GPA</label>
            <input type="text" id="gpa" class="form-control shadow" value="{{student_profile.gpa}}">
        </form>

        <button class="btn btn-secondary mt-2" id="cancel-btn"><i class="bi bi-x-circle"> Cancel</i></button>
        <!-- <button class="btn btn-danger mt-2"><i class="bi bi-check-circle-fill"> Confirm</i></button> -->

        <!-- Button trigger modal -->
        <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <i class="bi bi-check-circle-fill"> Confirm</i>
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body">Are you sure?</div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" id="save-btn">Save changes</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="col-5">
        <p class="fs-5 ">Experiences</p>
        <div class="accordion" id="accordionExample">
            {% for experience in student_profile.experiences %}
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapse-{{experience.id}}">
                        {{experience.position}}
                    </button>
                </h2>
                <div id="collapse-{{experience.id}}" class="accordion-collapse collapse"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <label class="form-label">Experience Title</label>
                        <input type="text" class="form-control shadow" value="{{experience.position}}">

                        <label class="form-label mt-2">From</label>
                        <input type="text" class="form-control shadow" value="{{experience.from_date}}">

                        <label class="form-label mt-2">To</label>
                        <input type="text" class="form-control shadow" value="{{experience.to_date}}">

                        <label class="form-label mt-2">Description</label>
                        <textarea name="" class="form-control shadow"
                            style="height: 10rem;">{{experience.description}}</textarea>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="col-2">
        <p class="fs-5">Edit profile photo</p>
        <img src="{{ url_for('static', path='img/no-image.PNG') }}" alt="Some image"
            class="img-fluid shadow rounded mb-2">
        <input type="file" class="form-control shadow">
    </div>
</div>

<script>
    document.getElementById('cancel-btn').addEventListener('click', async () => {
        await access('/students-home', 'GET')
    })

    document.getElementById('save-btn').addEventListener('click', async () => {
        // collect the updated student-profile data
        // send put request for updating the student profile
        // send get request to the get-student-profile route
    })
</script>

{% endblock %}