{% macro create_add_profile_picture_button() %}
    <button class="btn btn-primary" id="add-profile-picture-btn">Add</button>
    <script>
        document.getElementById("add-profile-picture-btn").addEventListener("click", async () => {
            const picture = document.getElementById("profilePictureInput").files[0]
            const formData = new FormData()
            formData.append("picture", picture)
            await access("/profile-picture", "POST", formData, true)
            await access("/students/profile/{{student_profile.id}}/edit", "GET")
        })
    </script>
{% endmacro %}


{% macro create_update_profile_picture_button() %}
    <button class="btn btn-primary" id="update-profile-picture-btn">Update</button>
    <script>
        document.getElementById("update-profile-picture-btn").addEventListener("click", async () => {
            const picture = document.getElementById("profilePictureInput").files[0]
            const formData = new FormData()
            formData.append("picture", picture)
            await access("/profile-picture", "PUT", formData, true)
            await access("/students/profile/{{student_profile.id}}/edit", "GET")
        })
    </script>
{% endmacro %}


{% macro create_delete_profile_picture_button() %}
    <button class="btn btn-danger" id="delete-profile-picture-btn">Delete</button>
    <script>
        document.getElementById("delete-profile-picture-btn").addEventListener("click", async () => {
            await access("/profile-picture", "DELETE")
            await access("/students/profile/{{student_profile.id}}/edit", "GET")
        })
    </script>
{% endmacro %}


{% extends 'base.html' %}

{% block content %}

<button class="btn btn-secondary mb-2" id="back-btn">
    <i class="bi bi-arrow-left"></i> Back
</button>

<div class="bg-white p-4">
    <h3>Edit your profile</h3>

    <div class="row mt-3">

        <div class="col-4">
            <p class="fs-5 ">General information</p>

            <div class="bg-primary-subtle px-4 pt-3 rounded shadow">
                <form>
                    <label class="form-label">Name</label>
                    <input type="text" id="name" class="form-control shadow" value="{{student_profile.name}}">

                    <label class="form-label mt-3">Region</label>
                    <select name="region" id="region" class="form-control shadow">
                        <option value="0" {% if student_profile.region_id == 0 %}selected{% endif %}>Global</option>
                        <option value="1" {% if student_profile.region_id == 1 %}selected{% endif %}>Europe</option>
                        <option value="2" {% if student_profile.region_id == 2 %}selected{% endif %}>Asia</option>
                        <option value="3" {% if student_profile.region_id == 3 %}selected{% endif %}>Americas</option>
                    </select>

                    <label class="form-label mt-3">Date of birth</label>
                    <input type="text" id="date-of-birth" class="form-control shadow"
                        value="{{student_profile.date_of_birth}}">

                    <label class="form-label mt-3">Email</label>
                    <input type="text" id="email" class="form-control shadow" value="{{student_profile.email}}">

                    <label class="form-label mt-3">University</label>
                    <input type="text" id="university" class="form-control shadow"
                        value="{{student_profile.university}}">

                    <label class="form-label mt-3">Major</label>
                    <input type="text" id="major" class="form-control shadow" value="{{student_profile.major}}">

                    <label class="form-label mt-3">Credits</label>
                    <input type="number" id="credits" class="form-control shadow" value="{{student_profile.credits}}">

                    <label class="form-label mt-3">GPA</label>
                    <input type="number" id="gpa" class="form-control shadow" value="{{student_profile.gpa}}">
                </form>

                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary mb-3 mt-4" data-bs-toggle="modal"
                    data-bs-target="#mainModal">
                    <i class="bi bi-check-circle-fill"></i> Confirm
                </button>
            </div>
        </div>

        <div class="col-4">
            <p class="fs-5 ">Experiences</p>
            <div class="accordion" id="experiencesAccordion">
                {% for experience in student_profile.experiences %}
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapse-{{experience.id}}">
                            {{experience.position}}
                        </button>
                    </h2>
                    <div id="collapse-{{experience.id}}" class="accordion-collapse collapse"
                        data-bs-parent="#experiencesAccordion">
                        <div class="accordion-body">
                            <label class="form-label">Experience Title</label>
                            <input id="position-{{experience.id}}" type="text" class="form-control shadow"
                                value="{{experience.position}}">

                            <label class="form-label mt-2">Company</label>
                            <input id="company-{{experience.id}}" type="text" class="form-control shadow"
                                value="{{experience.company}}">

                            <label class="form-label mt-2">From</label>
                            <input id="from-date-{{experience.id}}" type="text" class="form-control shadow"
                                value="{{experience.from_date}}">

                            <label class="form-label mt-2">To</label>
                            <input id="to-date-{{experience.id}}" type="text" class="form-control shadow"
                                value="{{experience.to_date}}">

                            <label class="form-label mt-2">Description</label>
                            <textarea id="description-{{experience.id}}" name="" class="form-control shadow"
                                style="height: 10rem;">{{experience.description}}</textarea>

                            <div class="d-flex justify-content-between mt-3">
                                <button class="delete-experience-btn btn btn-danger"
                                    id="delete_experience_{{experience.id}}_btn">
                                    <i class="bi bi-trash3-fill"></i> Delete
                                </button>
                                <button class="confirm-experience-btn btn btn-primary"
                                    id="confirm_experience_{{experience.id}}_btn">
                                    <i class="bi bi-check-circle-fill"></i> Confirm
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

            <button class="btn btn-secondary mt-2" data-bs-toggle="modal" data-bs-target="#addExperienceModal">
                <strong>+</strong> Add experience
            </button>
        </div>

        <div class="col-4">
            <p class="fs-5">Subjects</p>
            <table class="table table-striped">
                <thead class="table-primary">
                    <tr>
                        <th class="w-50">Subject</th>
                        <th class="w-25 text-center">Grade</th>
                        <th class="w-25 text-end">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for subject in student_profile.subjects %}
                    <tr>
                        <td>{{ subject.name }}</td>
                        <td class="d-flex justify-content-center">
                            <input id="grade-{{subject.student_id}}-{{subject.name}}" type="number"
                                class="form-control text-center" value="{{subject.grade}}"
                                style="background-color: transparent;">
                        </td>
                        <td class="text-end">
                            <button class="btn btn-primary btn-sm confirm-subject-btn"
                                id="confirm-subject-btn-{{subject.student_id}}-{{subject.name}}">
                                <i class="bi bi-check-circle-fill"></i>
                            </button>
                            <button class="btn btn-danger btn-sm delete-subject-btn"
                                id="deltete-subject-btn-{{subject.student_id}}-{{subject.name}}">
                                <i class="bi bi-trash-fill"></i>
                            </button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <button class="btn btn-secondary mt-2" data-bs-toggle="modal" data-bs-target="#addSubjectModal">
                <strong>+</strong> Add subject
            </button>
        </div>

        <!-- Main Modal -->
        <div class="modal fade" id="mainModal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5">Update profile info</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body">Are you sure?</div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" id="main-save-btn" data-bs-toggle="modal"
                            data-bs-target="#mainModal">
                            Save changes
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Add-experience modal -->
        <div class="modal fade" id="addExperienceModal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5">Add new experience</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <label class="form-label">Position</label>
                            <input type="text" id="newPosition" class="form-control shadow">

                            <label class="form-label mt-2">Company</label>
                            <input type="text" id="newCompany" class="form-control shadow">

                            <label class="form-label mt-2">From</label>
                            <input type="date" id="newFromDate" class="form-control shadow">

                            <label class="form-label mt-2">To</label>
                            <input type="date" id="newToDate" class="form-control shadow">

                            <label class="form-label mt-2">Description</label>
                            <textarea id="newDescription" rows="7" class="form-control shadow"></textarea>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button class="btn btn-primary" id="add-experience-btn" data-bs-toggle="modal"
                            data-bs-target="#addExperienceModal">
                            Add experience
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Add subject modal -->
        <div class="modal fade" id="addSubjectModal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5">Add new subject</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <label class="form-label">Subject</label>
                            <input type="text" id="newSubjectName" class="form-control shadow">

                            <label class="form-label mt-2">Grade</label>
                            <input type="number" id="newGrade" class="form-control shadow">
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button class="btn btn-primary" id="add-subject-btn" data-bs-toggle="modal"
                            data-bs-target="#addSubjectModal">
                            Add subject
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-9">
            <div class="fs-5 mt-3 mb-3">Motivational Letter</div>

            <div class="bg-primary-subtle p-3 rounded shadow">
                <label class="form-label">About me</label>
                {% if student_profile.motivational_letter.about_me_section %}
                <textarea id="about-me-field" class="form-control shadow"
                    rows="4">{{student_profile.motivational_letter.about_me_section}}</textarea>
                {% else %}
                <textarea id="about-me-field" class="form-control shadow" rows="4"
                    placeholder="Not provided..."></textarea>
                {% endif %}


                <label class="form-label mt-3">Skills</label>
                {% if student_profile.motivational_letter.skills_section %}
                <textarea id="skills-field" class="form-control shadow"
                    rows="4">{{student_profile.motivational_letter.skills_section}}</textarea>
                {% else %}
                <textarea id="skills-field" class="form-control shadow" rows="4"
                    placeholder="Not provided..."></textarea>
                {% endif %}

                <label class="form-label mt-3">Looking for</label>
                {% if student_profile.motivational_letter.looking_for_section %}
                <textarea id="looking-for-field" class="form-control shadow"
                    rows="4">{{student_profile.motivational_letter.looking_for_section}}</textarea>
                {% else %}
                <textarea id="looking-for-field" class="form-control shadow" rows="4"
                    placeholder="Not provided..."></textarea>
                {% endif %}

                {% if student_profile.motivational_letter.about_me_section %}

                <button class="btn btn-primary mt-3" id="update-motivational-letter-btn">
                    <i class="bi bi-check-circle-fill"></i> Update
                </button>

                <button class="btn btn-danger mt-3" id="delete-motivational-letter-btn">
                    <i class="bi bi-trash3-fill"></i> Delete
                </button>

                <script>
                    document.getElementById('update-motivational-letter-btn').addEventListener('click', async () => {
                        const updatedLetter = {
                            student_id: '{{student_profile.id}}',
                            about_me_section: document.getElementById('about-me-field').value,
                            skills_section: document.getElementById('skills-field').value,
                            looking_for_section: document.getElementById('looking-for-field').value,
                        }
                        await access('/students/motivational-letter/{{student_profile.id}}', 'PUT', updatedLetter)
                        await access('/students/profile/{{student_profile.id}}/edit', 'GET')
                    })

                    document.getElementById('delete-motivational-letter-btn').addEventListener('click', async () => {
                        await access('/students/motivational-letter/{{student_profile.id}}', 'DELETE')
                        await access('/students/profile/{{student_profile.id}}/edit', 'GET')
                    })
                </script>

                {% else %}

                <button class="btn btn-success mt-3" id="create-motivational-letter-btn">
                    <i class="bi bi-check-circle-fill"></i> Create
                </button>

                <script>
                    document.getElementById('create-motivational-letter-btn').addEventListener('click', async () => {
                        const newLetter = {
                            student_id: '{{student_profile.id}}',
                            about_me_section: document.getElementById('about-me-field').value,
                            skills_section: document.getElementById('skills-field').value,
                            looking_for_section: document.getElementById('looking-for-field').value,
                        }
                        await access('/students/motivational-letter', 'POST', newLetter)
                        await access('/students/profile/{{student_profile.id}}/edit', 'GET')
                    })
                </script>

                {% endif %}
            </div>
        </div>

        <div class="col-3 text-end">
            <p class="fs-5 mt-3 mb-3">Edit profile photo</p>
            <div class="bg-primary-subtle p-3 rounded shadow">
                {% if student_profile.profile_picture_path %}
                    {% set path = student_profile.profile_picture_path | replace("static/", "") %}
                    {% set add_profile_picture_button = "" %}
                    {% set update_profile_picture_button = create_update_profile_picture_button() %}
                    {% set delete_profile_picture_button = create_delete_profile_picture_button() %}
                {% else %}
                    {% set path = "img/no_image.png" %}
                    {% set add_profile_picture_button = create_add_profile_picture_button() %}
                    {% set update_profile_picture_button = "" %}
                    {% set delete_profile_picture_button = "" %}
                
                {% endif %}
                
                {% set url_path = url_for("static", path=path) %}
                <img src="{{ url_path }}" alt="Profile Picture" class="img-fluid shadow rounded mb-2 w-100">
                <input type="file" class="form-control shadow" id="profilePictureInput" accept=".jpg">

                <div class="mt-3">
                    {{ add_profile_picture_button }}
                    {{ update_profile_picture_button }}
                    {{ delete_profile_picture_button }}
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.getElementById('back-btn').addEventListener('click', async (e) => {
        await access('/students/profile/{{student_profile.id}}', 'GET')
    })

    document.getElementById('main-save-btn').addEventListener('click', async () => {
        updatedStudent = {
            name: document.getElementById('name').value,
            date_of_birth: document.getElementById('date-of-birth').value,
            email: document.getElementById('email').value,
            university: document.getElementById('university').value,
            major: document.getElementById('major').value,
            credits: document.getElementById('credits').value,
            gpa: document.getElementById('gpa').value,
            region_id: parseInt(document.getElementById("region").value),
        }
        await access('/students/{{student_profile.id}}', 'PUT', updatedStudent)
        await access('/students/profile/{{student_profile.id}}', 'GET')
    })

    document.querySelectorAll('.delete-experience-btn').forEach(async button => {
        button.addEventListener('click', async () => {
            const btnIdParts = button.id.split('_')
            const experienceId = btnIdParts[2]
            await access(`/experiences/${experienceId}`, 'DELETE')
            await access(`/students/profile/{{student_profile.id}}/edit`, 'GET')
        })
    })

    document.querySelectorAll('.delete-subject-btn').forEach(async button => {
        button.addEventListener('click', async () => {
            const btnIdParts = button.id.split('-')
            const studentId = btnIdParts.at(-2)
            const name = btnIdParts.at(-1)
            await access(`/subjects/${studentId}/${name}`, 'DELETE')
            await access(`/students/profile/{{student_profile.id}}/edit`, 'GET')
        })
    })

    document.querySelectorAll('.confirm-experience-btn').forEach(async button => {
        button.addEventListener('click', async () => {
            const btnIdParts = button.id.split('_')
            const experienceId = btnIdParts[2]
            updatedExperience = {
                from_date: document.getElementById(`from-date-${experienceId}`).value,
                to_date: document.getElementById(`to-date-${experienceId}`).value,
                company: document.getElementById(`company-${experienceId}`).value,
                position: document.getElementById(`position-${experienceId}`).value,
                description: document.getElementById(`description-${experienceId}`).value,
            }
            await access(`/experiences/${experienceId}`, 'PUT', updatedExperience)
            await access('/students/profile/{{student_profile.id}}/edit', 'GET')
        })
    })

    document.querySelectorAll('.confirm-subject-btn').forEach(async button => {
        button.addEventListener('click', async () => {
            const btnIdParts = button.id.split('-')
            const studentId = btnIdParts.at(-2)
            const name = btnIdParts.at(-1)
            const gradeString = document.getElementById(`grade-${studentId}-${name}`).value
            const grade = parseInt(gradeString)
            updatedSubject = {
                student_id: studentId,
                name: name,
                grade: grade,
            }
            const url = `/subjects/${studentId}/${name}`
            await access(url, 'PUT', updatedSubject)
            await access('/students/profile/{{student_profile.id}}/edit', 'GET')
        })
    })

    document.getElementById('add-experience-btn').addEventListener('click', async () => {
        const newExperience = {
            position: document.getElementById('newPosition').value,
            company: document.getElementById('newCompany').value,
            from_date: document.getElementById('newFromDate').value,
            to_date: document.getElementById('newToDate').value,
            description: document.getElementById('newDescription').value,
            student_id: '{{student_profile.id}}',
        }
        await access('/experiences', 'POST', newExperience)
        await access('/students/profile/{{student_profile.id}}/edit', 'GET')
    })

    document.getElementById('add-subject-btn').addEventListener('click', async () => {
        const newSubject = {
            name: document.getElementById('newSubjectName').value,
            grade: document.getElementById('newGrade').value,
            student_id: '{{student_profile.id}}',
        }
        await access('/subjects', 'POST', newSubject)
        await access('/students/profile/{{student_profile.id}}/edit', 'GET')
    })
</script>

{% endblock %}