{% extends 'base.html' %}
{% block content %}
<div class="bg-light pb-5 px-5 pt-3 rounded shadow">
    <p class="display-6 text-center py-5">
        Welcome to АПЛИПРАКСА, where students can find job opportunities and companies can find qualified candidates on
        a global level!
    </p>

    <div class="d-flex justify-content-around">
        <a href="/register" class="btn btn-lg btn-primary p-5 fs-2 rounded-5 shadow">
            Register <i class="bi bi-arrow-up-right-square-fill"></i>
        </a>
        <a href="/log-in" class="btn btn-lg btn-primary p-5 fs-2 rounded-5 shadow">
            Log in <i class="bi bi-arrow-up-right-square-fill"></i>
        </a>
    </div>
</div>
{% endblock %}